image: garnetstar/pg_build:latest

pipelines:
  default:
    - step:
        caches:
          - vendor
        name: Instal vendor dependencies
        script:
          - cd src
          - composer install
    - step:
        services:
            - docker
        caches:
          - vendor
        name: Build and push docker image
        script:
          - export IMAGE_NAME=garnetstar/pg-api:$BITBUCKET_COMMIT
          - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD
          - docker build --no-cache -f ./Docker/deploy/Dockerfile -t $IMAGE_NAME .
          - docker images
          - docker push $IMAGE_NAME
definitions:
  caches:
    vendor: src/vendor
